html {
  background-color: #eee;
}

body {
  background-color: #fff;
  box-shadow: 0 0 3px #888888;
}

#content {
  margin-left: 2em;
  padding-bottom: 1em;
  margin-bottom: 1em;
}

h1 {
  color: #38761d;
}

h2.subtitle {
  color: #666;
  font-size: 17px;
  border: none;
}

h2, h3, h4, h5, h6 {
  color: black;
}

@media (min-width: 1050px) {
  nav#sidemenu {
    background-color: #fff;
    box-shadow: 0 0 3px #888888;
    position: fixed;
    top: 1ex;
    left: 1ex;
    padding-left: 1em;
    padding-top: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
}
}

nav#sidemenu > ul {
  margin: 0;
  padding: 0;
}

nav#sidemenu li.current a {
  color: black;
}

/*
nav#sidemenu a.nav-header {
color: black;
}
 */

  figure {
    margin-left: 0;
}

.kw {
  color: blue;
}

.ot {
  color: blue;
}

.dt {
  color: brown;
}

tr.packet-row:nth-child(odd) {
  background: #eee;
}
